@{
    ViewBag.Title = "About";
}
<h3>RESUMO</h3>

<p align="justify">
    Desenvolvedora com 5 anos de experiência, sempre buscando aprender sobre novas ferramentas e boas práticas para aprimorar minhas técnicas e manter um código sustentável.
    Trabalhando em uma startup tive a oportunidade de aprender sobre o evolução do produto, decisões de arquitetura, automatização de testes, práticas de Scrum e DevOps.
    <br/>
    Atualmente trabalhando com .Net Core, Node.js e React-Native.
</palign="justify">

<h3>EXPERIÊNCIA PROFISSIONAL</h3>

<ul>
    <li>
        <p>
            <strong>Hondana - (05/2019 - 04/2020)</strong><br />

            Desenvolvedora FullStack (.Net / .Net Core / Node.js)<br/>

            <ul style="list-style-type:square;">
                <li>
                    Desenvolvimento e manutenção de software legado com Asp.Net.
                </li>
                <li>
                    Desenvolvimento de aplicações utilizando Node.js, .Net Core, Docker, Sql Server. Utilização de metodologia Scrum, prática de DevOps, automatização de testes e deploys, pipeline de Build e Release. Utilização das plataformas Azure DevOps e Amazon Web Service.
                </li>
            </ul>
        </p>
    </li>

    <li>
        <p>
            <strong>PD Case Informática - (11/2015 - 05/2019)</strong><br />

            Desenvolvedora FullStack (.Net /Java)<br />

            <ul style="list-style-type:square;">
                <li>
                    Estagiária - 6 meses de estágio em desenvolvimento web .Net
                </li>
                <li>
                    Desenvolvedora .Net - 3 anos trabalhando com desenvolvimento web (sistemas bancários - .Net, Ext.js, SQL Server, Reporting Services, TFS)
                </li>
                <li>
                    Desenvolvedora Java - 6 meses trabalhando com desenvolvimento web (sistemas bancários - Java, BD Oracle)
                </li>
            </ul>
        </p>
    </li>
    <li>
        <p>
            <strong>Instituto de Tecnologia da Informação e Comunicação do Estado do Espirito Santo (Prodest) - (03/2015 - 11/2015)</strong> <br />
            Estagiária de Desenvolvimento Web (Asp Net) <br />
            <ul style="list-style-type:square;">
                <li>
                    Manutenção de aplicações utilizando Asp Net e SQL
                </li>
            </ul>
        </p>
    </li>
</ul>

<h3>FORMAÇÃO ACADÊMICA</h3>

<p>
    <ul>
        <li>
            <strong>Ifes - Instituto Federal do Espírito Santo</strong>
            <br />
            Bacharelado - Sistemas de Informação
            <br />
            Início 2011 - Término 2017
        </li>
    </ul>
</p>